<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <div class="bline">
      <!-- <div class="spacing-2">
          <div class="input-group input-group-unstyled">
            <input type="text" class="form-control" />
              <button type="submit"><i class="fa fa-search"></i></button>            
            
            </div>    
      </div> -->
      <div class="spacing-3">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">hi! <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li> <a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li> <a routerLink="/register" routerLinkActive="active">Register</a></li>
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          </ul>
        </div>
      </div>
</div>
</header>



<footer>
  <div class="hline">
    <p>Contact Us</p>
    <p>Bright Box</p>
  </div>
</footer>